#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.login-container,.login-container1{
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-container1{
  gap: 5px;
}
input{
  height: 20px;
}
/* NavigationBar.css */

.navbar {
  background-color: #17191f; /* Blue background */
  padding: 10px 20px;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand a {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  display: flex;
}

.nav-button {
  color: white;
  padding: 8px 16px;
  margin-left: 20px;
  text-decoration: none;
  background-color: #3b82f6; /* Lighter blue for button */
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #2563eb; /* Darker blue on hover */
}
